#header {

}
body{
    background-image: url("../Images/back.jpg");
}
.logo {
 font-family:'Train One', cursive;
 font-size:15px;
 float: left;
 margin-top: -100px;
}

.Navbar {
  float: right;
  margin-right:200px;
  margin-top: -60px;
  font-family: fantasy;
}

.Navbar ul {
  list-style-type: none;
}

.Navbar li {
  display: inline-block;
  font-size: 20px;
  padding: 10px;
}
.mid-section {

  background-repeat: no-repeat;
}
.message h1 {
  margin-top: 100px;
}
.message {
  background-image: url("../Images/back.jpg");
  text-align: center;
  font-size: 50px;
  font-family: 'Dancing Script';
}

.about {
  margin-top: 300px;
  display: block;
}
.abh2 {
  text-align: center;
  font-size: 50px;
  font-family: 'Permanent Marker', cursive;
}
.abp{
  display: block;
  text-align: left;
}

.column1 {
  display: block;
  float:left;
  width:40%;
  margin: 5vw 0 12vw 10%;
}
.column2 {
  float: right;
  width :35%;
  margin: 9.9vw auto 12vw 10%;
  margin-right: 50px;
}
.row::after {
  content: "";
  display: table;
  clear: both;
}
.h4me{
  font-family: "Permanent Marker";
  font-size: 20px;
}
