.header{

}

.logo {
 width: 100px;
 height: 30px;
 font-family: 'Train One', cursive;
 font-size: 15px;
}

.Navbar {
  float: right;
  margin-right: 500px;
  padding: 20px;
}

.Navbar ul {
  list-style-type: none;
}

.Navbar li {
  display: inline-block;
  font-size: 20px;
  padding: 20px;
}

.body{
  margin-top: 150px;
}
.message {
  text-align: center;
  font-size: 50px;
  font-family: 'Dancing Script';
}

.about {
  text-align: center;
  margin-top: 200px;
}
